<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zilche.zilche" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Zilche"
        android:allowBackup="true"
        android:icon="@drawable/zilche"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Zilche" />
        <activity
            android:name=".SearchList"
            android:label="@string/title_activity_search_list" >
        </activity>
        <activity
            android:name=".MyPollActivity"
            android:theme="@style/transparent"
            android:label="@string/title_activity_my_poll" >
        </activity>
        <activity
            android:name=".tmpNewPoll"
            android:label="@string/title_activity_tmp_new_poll" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreatePollActivity"
            android:label="@string/title_activity_create_poll"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".UploadImage"
            android:label="@string/title_activity_upload_image" >
        </activity>
        <activity
            android:name=".FullScreenImage"
            android:label="@string/title_activity_full_screen_image" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".CategoryActivity"
            android:theme="@style/transparent"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name=".PollViewActivity"
            android:label="@string/title_activity_poll_view"
            android:launchMode="singleTop"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".PieChart"
            android:label="@string/title_activity_pie_chart" >
        </activity>
        <activity
            android:name=".BarChart"
            android:label="@string/title_activity_bar_chart" >
        </activity>
        <activity
            android:name=".CreateSurveyActivity"
            android:label="@string/title_activity_create_survey"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AddSurveyOptions"
            android:label="@string/title_activity_add_survey_options" >
        </activity>
        <activity
            android:name=".CreatePollActivity2"
            android:label="@string/title_activity_create_poll_activity2"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CropImageActivity"
            android:label="@string/title_activity_crop_image" >
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RetrieveProfileActivity"
            android:label="@string/title_activity_retrieve_profile" >
        </activity>
    </application>

</manifest>
