<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zilche.zilche" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Zilche"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_main" >
        </activity>
        <activity
            android:name=".SearchList"
            android:label="@string/title_activity_search_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyPollActivity"
            android:label="@string/title_activity_my_poll"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FullScreenImage"
            android:label="@string/title_activity_full_screen_image"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".PollViewActivity"
            android:label="@string/title_activity_poll_view"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".CreatePollActivity2"
            android:label="@string/title_activity_create_poll_activity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CropImageActivity"
            android:label="@string/title_activity_crop_image"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RetrieveProfileActivity"
            android:label="@string/title_activity_retrieve_profile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".CreateCommentActivity"
            android:label="@string/title_activity_create_comment"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".MyProfileActivity2"
            android:label="@string/title_activity_my_profile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".FullScreenImageActivity"
            android:label="@string/title_activity_full_screen_image"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FavouriteActivity"
            android:label="@string/title_activity_favourite"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".ReplyCommentActivity"
            android:label="@string/title_activity_reply_comment"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent">
        </activity>
    </application>

</manifest>
