<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zilche.zilche" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Zilche"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Zilche" />
        <activity
            android:name=".SearchList"
            android:label="@string/title_activity_search_list" >
        </activity>
        <activity
            android:name=".MyPollActivity"
            android:label="@string/title_activity_my_poll" >
        </activity>
        <activity
            android:name=".tmpNewPoll"
            android:label="@string/title_activity_tmp_new_poll" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".CreatePollActivity"
            android:label="@string/title_activity_create_poll" >
        </activity>
        <activity
            android:name=".UploadImage"
            android:label="@string/title_activity_upload_image" >
        </activity>
    </application>

</manifest>
